	<div id="single">
	   <a href="/product/{{id}}">
		<img src="/imgs/product/{{filename}}" alt="{{description}}">
		<div>
			<h2>Great choice!</h2>
			<span>
			<p>Name: <bold>{{name}}</bold> </p>
			<p>Country: <bold>{{origin_country}}</bold> </p>
			<p>Price: <bold>{{price}}</bold> </p>
			<p>Stock: <bold> {{stock}}</bold></p>
			<p>Description: <bold>{{description}}</bold></p>
			</span>
			<a href="/checkout" class="buy" onclick="clickCounter()"><span>Add to cart</span></a>
		</div>
	</div>


{{> regions}}  

{{!-- the path i built --}}
<script src="/js/index.js"></script>