<div id="body">
	<div id="single">
	   <a href="/product/{{id}}">
		<img src="/imgs/product/{{filename}}" alt="{{description}}">
		<div>
			<h2>Great choice!</h2>
			<span>
			<p>Name:</p>{{name}}
			<p>Country:</p>{{origin_country}}
			<p>Price:</p>{{price}}
			<p>Stock:</p>{{stock}}
			<p>Description:</p>{{description}}
			</span>
			
			<span id="buy">
					Add to cart
			</span>
		</div>
	</div>
</div>	

{{> regions}}
